
* {
	font-family:Arial,Helvetica;
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
	border:0;
}

img {
	max-width:100%;
	height:auto;
}

body {
	font-size:100%;
	padding:9em 0 9em 0;
}

header, footer {
	display:block;
	width:100%;
	position:absolute;
}
header {
	top:0;
	height:8em;
}

footer {
	bottom:0;
}

h1 {
	font-size: 4.0em;
	font-weight:900;
	letter-spacing:-0.07em;
	margin:0.3em;
	left:0;
	display:block;
	width:auto;
}
h1 span {
	font-weight:200;
}

a {
	text-decoration: none;
	color:#888888 !important;
}
a:hover {
	color:#EFEFEF !important;
}

.grid_3 {
	width:33%;
	display:block;
	float:left;
}

.align_left { float: left; }
.align_middle { float: center; }
.align_right { float: right; }

.color_dark {
	background: #131313;
	color:#FFFFFF;
}
.color_light {
	background: #131313;
	color:#FFFFFF;
}

	.menu {
		font-size:0.9em;
		float:left;
		text-transform: uppercase;
		margin:1.7em 0;
	}
	.menu a {
		margin:0.3em;
	}

.link_contact {
	font-size: 250%;
	margin:0.9em 0;
}

.size_body {
	width:760px;
	display: block;
	margin:0 auto;
}

footer * {
	font-size: 1.05em;
}

footer .align_middle a {
	margin:0 0.1em;
}

footer .align_right a {
	margin-left:0.5em;
}

.border_top {
	border-top:1px solid #666666;
	padding:1em 0 1em;
}

.clear {
	clear:both;
}

article .box {
	display:block;
	border:1px solid #DEDEDE;
	box-shadow: 0px 2px 2px #4F4F4F;
	padding:3em 1em 3em;
	font-size: 1.4em
}
article .grid_3 {
	width:28% !important;
}

article .separator {
	margin:0 1.13em;
}

h2 {
	margin:0 0 1em;
}
h3 {
	margin:0;
}

footer .size_body {
	margin-top:3em;
	margin-bottom: 3em;
}



#logo {
	margin:2em 2em 0;
}

